<h1>All bouts</h1>
<ul id="bouts">
  <% @bouts.each do |bout| %>
    <li><%= link_to bout.options.name, bout_path(bout) %></li>
      <ul>
        <% bout.options.order(created_at: :desc).each do |option| %>
        <li class="option"><span id="vote_button"><%= link_to "vote", bout_option_path(bout, option), remote: true, method: :patch %></span> <%= option.description %> - <span id="<%= option.id %>" class="votes"><%= option.votes %></span></li>
        <% end %>
      </ul>
  <% end %>
</ul>

<%= link_to "New Bout", new_bout_path, id: "new_bout_link", class:"btn btn-default", remote: true %>
